@import url(./carta.css);
@import url(./banner.css);
@import url(./footer.css);
@import url(./header.css);
@import url(./user.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primario: #6bdc7a;
    --color-secundario: #4c7e02;
    --color-white: #FFFFFF;
}

html{
    scroll-behavior: smooth;
}

.bodynevado{
    background-image: url(../img/montaña.png);
}
body{
    background-color: var(--color-primario);
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: unset;
}

ul{
    list-style: none;
}


/* Estilos globales */
.titleInfo{
    background-color: rgba(240, 248, 255, 0.572);
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
}

.arrow-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: var(--color-white);
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (max-width:1024px){
    header{
        background-color: rgb(144, 230, 238);
        justify-content: space-around;
    }
    .navBar li a{
        color: black;
    }
    .navBar li a:hover{
        color: white;
    }
}

/*medida de tablet*/
@media (max-width:768px){
    header{
        background-color: lime;
        flex-direction: column;
        gap: 1.25rem;
    }
    .grid{
        grid-template-columns: repeat(2,50%);
        grid-template-rows: repeat(2,200px);
        grid-template-areas: 
        "col1 col2"
        "col3 col4"
        ;
    }
    .color5{
        display: none;
    }
}
@media (max-width:320px){
    .navBar{
        flex-direction: column;
    }
    .navBar li a{
        font-size: 1.4375rem;
    }
    .grid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,200px);
        grid-template-areas: 
        "col1"
        "col6"
        "col1"
        "col3"
        "col4"
        ;
    }
    .color6{
        display: block;
        grid-area: col6;
        background-color: lemonchiffon;
    }
}

