$background-principal:#6bdc7a;
$background-secundario:#4c7e02;
$background-terciario:#FFFFFF;
$white: #f9f9f9;
$green: #f3f3f3;
$green-light: #7acbcd;
$black: #36383F;
$grey: #85888C;
$colornegroopacido: rgba(0, 0, 0, 0.418);