html{
    scroll-behavior: smooth;
}
.h1{
    
    text-align: center;
    color: white;
}

.titleInfo{
    background-color: rgba(240, 248, 255, 0.572);
    text-align: center;
    padding: 20px;
    margin: 20px 0px;
}
.arrow-top{
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}